<md-toolbar>
    <h2 class="md-toolbar-tools">
        <span>
            <md-button ng-click="nav.toggleLeft()" class="md-default-theme" hide-gt-md>
                <md-icon md-svg-icon="navigation:ic_menu_24px" alt="menu "></md-icon>
            </md-button>
            Toolbar fixed to top
        </span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <span>some other text</span>
    </h2>
</md-toolbar>
<md-content flex layout="column" class="md-padding">
    $state = {{$state.current.name}}<br/>
    $stateParams = {{$stateParams}}<br/>
    $state full url = {{ $state.$current.url.source }}<br/>
    <div ui-view="content">
        lazy load admin
        <a ui-sref="admin">Admin</a>
    </div>
</md-content>