<md-sidenav flex class="site-side-nav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Sidenav Left</h1>
    </md-toolbar>

    <md-content class="md-padding">
        <div ui-view="navigation"></div>
<!--
        <md-button ng-click="nav.close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
        </md-button>
        <p hide-md show-gt-md>
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
        </p>
-->
    </md-content>

</md-sidenav>