@import "compass";

@import "core/main/images/to_sprite/header/*.png";

@mixin sprite-background($name) {
  @include header-sprite($name);
}

#test {
  @include sprite-background(cat);
}
/*
@import "core/images/ss-header*/
/*.png";
$ss-header-layout: "vertical";
$ss-header-layout-spacing: 10px;

#test {
  @include ss-header-sprite(cat);
}*/
