<div>
    <form ng-submit="login.submit(_email, _password)">
        <input type="email" ng-model="_email" />
        <input type="password" ng-model="_password" />
        <button>Submit</button>
    </form>
    <button ng-click="login.cancel()">Cancel</button>
</div>